.headerContainer {
  height: 10vh;
  width: 100vw;
  background-color: #1e1e30;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
}
.heading {
  margin-top: 0px;
  margin-bottom: 0px;
}
.routesList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
.listItem {
  color: #94a3b8;
}
.linkItem {
  color: inherit;
  text-decoration: none;
}
.active {
  color: #f8fafc !important;
}
.buttonItem {
  all: unset;
  cursor: pointer;
}
.headerlogo {
  font-family: 'Bree Serif';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
}
.headerspan {
  color: #60a5fa;
}
