.footerContainer {
  height: 30vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footerIcon {
  font-weight: 400;
  font-size: 52.92px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: #cbd5e1;
}
.footerPara {
  color: #94a3b8;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  margin: 30px;
}
.footerlogo {
  font-family: 'Bree Serif';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
}
.footerspan {
  color: #60a5fa;
}
